<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Whole.Lotta.Heart</title>

  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- To avoid favicon.ico error message -->
  <link rel="icon" href="data:;base64,=">

  <style>
    table {
      border: dotted 3px black;
      border-collapse: collapse;
    } 
    th, td {
      padding: 5px;
    }
    th {
      text-align: left;
    }
    </style>

</head>

<body>
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid navbar-custom">

        <!--Left Home Bar-->
        <!-- <a class="navbar-brand" href="https://whole-lotta-heart.herokuapp.com">Home</a> -->
        <a class="nav-item nav-link" id="home" style="color: crimson" href="/"><strong> Home</strong></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--DropDown Menu-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Health Data
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/page_js">Health Correlations</a>
                <a class="dropdown-item" href="/page_tableau">Lifestyle & Health</a>
                <a class="dropdown-item" href="/page_ml">Stroke Predictor</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0"></form>

        </div>
      </div>
    </nav>
  </div>

  <br>

  <!--Create container to hold main body of content-->
  <div class="container">
    <div class="col-md-12" id=blank>
      <div class="row">
        <div class="col-md-12">

          <!--Page Title-->
          <h2><strong>Stroke Prediction Model</strong></h2>
          <hr>
          <h3 style="text-align: left"><strong>Concerned about your risk for stroke?</strong></h3>
          <p><strong>Our stroke prediction model pulls data from over 5,000 patients monitored for
              stroke risk and predicts within a .95 accuracy “That’s Good” whether your risk factors
              increase your likelihood for stroke.</strong></p>
          <p><strong>Complete our seven question form to access our model's stroke preditions.</strong></p>
          <br>
         <!-- ml form -->
         <form action= "/page_ml" method = "post">  
          <!-- <form action= "{{ url_for('page_ml')}}" method="post">  -->
         <!-- <form action= "ml.html" method="post">  -->

        <table style="width:100%" class="center" >  
          <tr> 
          <td style="text-align:left"> 
            <label for="fname" style="color:crimson"><strong>Gender assignment at birth?</strong></label><br>
            <input type="radio" style="margin-left: 30px;" id="male" name="gender" value="1" required>
            <label for="male">Male</label><br>
            <input type="radio" style="margin-left: 30px;" id="female" name="gender" value="0" >
            <label for="female">Female</label><br> 
          </td>
          <td>
            <label for="fname" style="color:crimson"><strong>Do you have hyptertension?</strong></label><br>
            <input type="radio" style="margin-left: 30px;" id="yes1" name="hyptertension" value="1" required>
            <label for="yes1">Yes</label><br>
            <input type="radio" style="margin-left: 30px;" id="no1" name="hyptertension" value="0">
            <label for="no1">No</label><br>
          </td>
          </tr>

          <tr>
          <td> 
            <label for="fname" style="color:crimson"><strong>Do you have heart disease?</strong></label><br>
            <input type="radio" style="margin-left: 30px;" id="yes2" name="heartdisease" value="1" required>
            <label for="yes2">Yes</label><br>
            <input type="radio" style="margin-left: 30px;" id="no2" name="heartdisease" value="0">
            <label for="no2">No</label><br> 
          </td>
          <td> 
            <label for="fname" style="color:crimson"><strong>Have you ever been married?</strong></label><br>
            <input type="radio" style="margin-left: 30px;" id="yes3" name="married" value="1" required>
            <label for="yes3">Yes</label><br>
            <input type="radio" style="margin-left: 30px;" id="no3" name="married" value="0">
            <label for="no3">No</label><br>
          </td>
          </tr> 
          <tr> 
          <td>  
            <label for="fname" style="color:crimson"><strong>What is your smoking status?</strong></label><br>
            <input type="radio" style="margin-left: 30px;" id="Formerly Smoked" name="smoking" value="1" required> 
            <label for="Formerly Smoked">Formerly Smoked</label><br>
            <input type="radio" style="margin-left: 30px;" id="Never Smoked" name="smoking" value="0">
            <label for="Never Smoked">Never Smoked</label><br>
            <input type="radio" style="margin-left: 30px;" id="Smokes" name="smoking" value="2">
            <label for="Smokes">Smokes</label> <br>
 
          </td>
          <td style="vertical-align: top;"> 
            <label for="fname" style="color:crimson"><strong>Where do you live?</strong></label><br>
            <input type="radio" style="margin-left: 30px;" id="Urban" name="residence" value="1" required>
          <label for="Urban">Urban</label><br>
          <input type="radio" style="margin-left: 30px;" id="Rural" name="residence" value="0">
          <label for="Rural">Rural</label><br>
          </td> 
          </tr> 
          <tr>
          <td> 
            <label for="fname" style="color:crimson"><strong>What best describes your place of work? 
            </strong></label><br>
            <input type="radio" style="margin-left: 30px;" id="Private" name="work" value="1" required>
            <label for="Private">Private</label><br>
            <input type="radio" style="margin-left: 30px;" id="Government Job" name="work" value="0">
            <label for="Government Job">Government Job</label><br>
            <input type="radio" style="margin-left: 30px;" id="Self-Employed" name="work" value="2">
            <label for="Self-Employed">Self-Employed</label><br>
            <input type="radio" style="margin-left: 30px;" id="Never Worked" name="work" value="3">
            <label for="Never Worked">Never Worked</label><br> 
            <input type="radio" style="margin-left: 30px;" id="Child" name="work" value="4">
            <label for="Child">Child</label><br>           

          </td>
          <td></td>
          </tr>
          <tr> 
          <td style="text-align:center" colspan="2"> 
            <br>
            <button style="background-color: crimson;" style="color:#fff;"  type="submit" value="Submit">
              <strong>Predict Stroke Likelihood</strong></button>   
          </td>
          </tr>
          <tr>
            <td style="text-align:right" colspan="2"> 
              <br>
              <h3> {{ prediction_text }}</h3>
              <br>
            </td>
          </tr>
          </table>
          </form>
          
          <!-- <input type="reset"> -->
        </div>
        </form>

        <!------------------------------------Source Links------------------------------------------------------------------------------------------------------------>
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin="" />

        <!-- d3 JS -->
        <script src="https://d3js.org/d3.v5.min.js"></script>

        <!-- Marker Cluster CSS -->
        <link rel="stylesheet" type="text/css"
          href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
        <link rel="stylesheet" type="text/css"
          href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

        <!-- Our JS -->
        <!-- <script type="text/javascript" src="/static/js/config-key.js"></script>  -->
        <!-- <script type="text/javascript" src="/static/js/choropleth.js"></script> -->
      </div>
    </div>
  </div>
  </div>
</body>

</html>